html {
  height: 100%;
  font-size: 12pt;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 18pt;
  }
}

* {
  box-sizing: border-box;
}

body,
body * {
  display: flex;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  max-height: 100%;
  flex-direction: column;
}

input,
button {
  background-color: inherit;
}

input:focus,
button:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
